table {
    border-collapse: collapse;
    width: 400px;
    font-family:Consolas;
    font-size:12px;
    margin-bottom:20px;
}

th, td {
    padding: 2px;
}

tr {
    border-bottom: 1px solid #ccc; 
}

.title {
    font-size: 13px;
}